[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = "*"
python-dotenv = "*"
colorama = "*"
pymysql = "*"
flask = "*"
flask-sqlalchemy = "*"
psutil = "*"
requests = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.11"
